<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="height:300px;width:350px;margin:100px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
	    <div style="width:200px;margin:auto;margin-top:50px;">
			{{message}}
		# 用户登录
			<form action="#" role="form" method="post">
				<input id="username" name="username" style="margin: 20px 0px;" type="text">
				<input id="password" name="password" type="password">
				<div style="margin-top:30px;margin-left:125px;">
					<input onclick="login();" value="登 陆" type="button">
				</div>
			</form>
		</div>
	</div>
</body>
<script>
	function login(){
		var username=$("#username").val();
		var password=$("#password").val();
		var data={'username':username,'password':password}
		$.ajax({
				url:'/login',
				type:'POST',
				data:data,
				success:function(data,status){
					location.href='home';
				},
				error:function(data,status,e){
					location.href='login';
				}
				});

	};
</script>
</html>
